.choose_container {
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}
.choose_before_button{
    position: absolute;
    top : 22%;
    left: 20%;
}
.choose_container h1 {
    margin-top: 10%;
    margin-bottom: 4%;
    font-size: 30px;
    font-weight: bold;
}

.choose_button_container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
}