.guide_container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 95%;
    margin: 0 auto;
    height: 500px;
}

.guide_container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 50px;
    border-bottom: 2px solid gray;
}

.nav li {
    margin-right: 40px;
    font-size: 25px;
}

.nav a.active {
    padding-bottom: 4%;
    border-bottom: 3px solid blue;
}

.question_box {
    display: flex;
    justify-content: center;
    gap: 1px; 
    
}

.question_button {
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto 20px auto;
    display: flex;
    align-items: center;
}

.question{
    background-color: lightgray;
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    margin: 0 auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question span {
    font-weight: bold;
    font-size: 20px;
    flex-grow: 1;
    margin-left: 10px;
}

.additional_content {
    width: 70%;
    margin: 20px auto;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.answer {
    display: flex;
    background-color: lightgray;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    align-items: center;
}

.answer span {
    margin: 0 0 0 10px;
}

.paging_number{
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}