body{
background-color: #F1F1F1;
width: 100%;
height: 100%;
}
.profilebox{
    background-color: white;
    margin: 50px auto;
    width: 50%;
    height: 1200px;
    padding: 100px;
}
.myselfmaintext{
    text-align: center;
}
.profoleinputs{
    width: 800px;
}
.mypagetop{
    display: flex;
    align-items: center;
    margin: 30px;
}
.profile{
    width: 150px;
    line-height: 33px;
    text-align: right;
    margin-right: 20px;
}
.bluetext{
    margin-top: 50px;
    color: #1400FF;
}
.mypagebottum{
    margin: 30px;
}
.mysmallfont{
    margin: 20px 0px;
}
.mybut{
    margin: 70px auto;
    text-align: center;
}