.start_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
}

.start_white_box {
    padding: 25px 55px;
    width: 100%;
    height: 100%;
}
.timer{
    width: 50px;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
}
.question{
    margin-top:10px;
    float: left;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}
.answer_form{
    background-color: lightgray;
    width: 70%;
    height: 340px;
    border-radius: 10px;
}
.my_camera{
    background-color: lightgray;
    border-radius: 10px;
}
.button_container{
    position: absolute;
    right: 440px;
    top: 490px;
}
.webcam_preview{
    width: 70%;
    padding: 50px;
}
.pagination_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination_button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination_button.active {
    background-color: blue;
    color: white;
}
.paging_number{
    position: absolute;
    right: 43%;
    bottom: 20%;
    padding: 50px;
}